{% load staticfiles %}
{% load fives_filters %}
<!--
     Template to display a sortable/filterable table with games, depending on paramaters passed when included.
     Paramaters ( title: Heading of the table , gameList: list of games to fill table )
-->

<div class="player-tables-wrapper">
    <div class="container text-right pr-0">
        <button class="btn btn-sm btn-outline-warning reset" type="button" name="button">Reset Filters</button>
    </div>
    <h5>{{ title }}</h5>
    <table class="table tablesorter table-striped table-hover tablesorter-bootstrap game-player-table" id="game_sorttable">
        <thead class="thead-success">
            <tr class="bg-success text-white">
                <th>Location</th>
                <th>Date</th>
                <th class="filter-select filter-exact" data-placeholder="Duration">Time</th>
                <th class="filter-select filter-parsed custom-width-70" data-placeholder="Min.">Spaces</th>
                <th class="filter-select filter-exact" data-placeholder="Pick a type">Type</th>
                <th class="filter-select filter-parsed custom-width-80" data-placeholder="Max.">Price&nbsp;(&#163;)</th>
                <th>Host</th>
                <th data-sorter="false" class="filter-false">Host&nbsp;Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for game in gameList %}
                <tr class="game-player-link" data-url="{% url 'show_game' game.custom_slug %}" >
                    <td>{{ game.city }}</td>
                    <td>{{ game.start|date:"d M Y" }}</td>
                    <td class="time" data-duration='{{ game.start|duration:game.end }}'>{{ game.start|date:"H:i" }}-{{ game.end|date:"H:i" }}</td>
                    <td>{{ game.free_slots }}</td>
                    <td>{{ game.game_type|getType  }}</td>
                    <td>{{ game.price }}</td>
                    <td>{{ game.host.username }}</td>
                    <td>
                        {% for i in game.host.player|ratingAsRange:"host" %}
                            <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div id="pager_GameList" class="pager">
        <form>
            <img src="{% static 'img/pager/first.png' %}" class="first"/>
            <img src="{% static 'img/pager/prev.png' %}" class="prev"/>
            <span class="pagedisplay" data-pager-output-filtered="{startRow} &ndash; {endRow} / {filteredRows} of ({totalRows}) total Games"></span>
            <img src="{% static 'img/pager/next.png' %}" class="next"/>
            <img src="{% static 'img/pager/last.png' %}" class="last"/>
            <select class="pagesize">
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="all">All Games</option>
            </select>
        </form>
    </div>
</div>
