/* index.html START */
.index-header-centered {
    text-align: center;
}
/* index.html END */


/* index.html START */
.index-content {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.index-header {
    padding-bottom: 30px;
}

.index-host-info {
    padding-top: 50px;
}
/* index.html END */


/* game_list.html START */
.game-list-content {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.game-list-buttons {
    padding-bottom: 50px;
}

.game-player-link {
    cursor: pointer;
}
/* game_list.html END */



/* user_account.html START */
.player-content {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
}

.player-content-unauthorised {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.player-head-wrapper {
    border-bottom: solid thin lightblue;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto; /* Keeps floating children divs inside this container. Otherwise they float beneath it. */
    height: 100%; /* Needed for IE, so children divs stay inside container. */
}

.player-info {
    box-sizing: border-box;
    float:left;
    width: 50%;
    height: auto;
    line-height: 25px;
    margin-bottom: 10px;
    padding-right: 20px;
    border-right: solid thin lightblue;
}

.player-info #editButton {
    position: relative;
    bottom: 0px;
}

.player-info ul {
    padding-left: 0;
    list-style-type: none; /* Removes any bullets. */
}

.player-ratings {
    box-sizing: border-box;
    float: right;
    width: 50%;
    height: auto;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;

}

.player-ratings ul {
    padding: 0px;
    list-style-type: none;
}


.player-tables-wrapper {
    padding-top: 10px;
    clear: both;
}

/* All tables of class account-game-table are also of class
    game-player-table and inherit styles from there. */
/*
.account-game-table {
    border-bottom: solid thin lightblue !important;
}
.account-game-table th {
    background-color: #006699 !important;
    font-weight: normal !important;
    font-size: 12px !important;
    height: 19px !important;
}
*/
/* user_account.html END */





/* show_game.html START */
.game-content { /* This class gives the div a maximum width and centers horizontally it on the page. */
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.game-head-wrapper {
    border-bottom: solid thin lightblue;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto; /* Keeps floating children divs inside this container. Otherwise they float beneath it. */
    height: 100%; /* Needed for IE, so children divs stay inside container. */
}

.game-head-title {
    float: left;
    font-weight: bold;
}

.game-head-host {
    float: right;
}

.game-info {
    float: left;
    width: 200px;
    height: 150px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-right: 10px;
    border-right: solid thin lightblue;
}

.game-address {
    float: left;
    width: 150px;
    height: 150px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.game-map {
    float: right;
    margin-bottom: 10px;
    padding-left: 10px;
}

.game-players-wrapper {
    padding-top: 10px;
    clear: both;
    border-top: solid thin lightblue;
}
/*
.game-player-table {
    width: 100%;
    border-collapse:collapse;
}

.game-player-table th {
    text-align: left;
    background-color: #4CAF50;
    font-weight: normal;
    color: white;
    font-style: normal;
    height: 22px;
    border: 0px;
}

.game-player-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.game-player-table #player-link {
    cursor: pointer;
}

.game-player-table tr:hover {
    background-color: #ddd;
}
*/
.span-free-slots {
    float: right;
    font-size: 12px;
}

.game-player-static {
    margin-top: 30px;
    float: left;
}

.game-player-buttons button {
    width: auto;
    height: 25px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #e7e7e7;
}

.game-player-buttons button:hover, .hoverBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}


#joinBtn {
    background-color: #4CAF50;
}
#leaveBtn, #deleteBtn {
    background-color: #f24438;
}
#removeBtn {
    margin:0px;
    padding:0px;
    width: 20px;
    height: 20px;
    border:0;
    background:transparent.
}
/* show_game.html END */




/* login.html START */
#login_form label.error {
    font-size: 11px;
    font-style: normal;
    color: red;
    padding-left: 10px;
}
/* login.html END */




/* create_game.html START */
.content-wrapper-center { /* This class gives the div a maximum width and centers horizontally it on the page. */
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

.jquery_validation_form label.error, td.django-form-errors {
    font-size: 11px;
    font-style: normal;
    color: red;
    padding-left: 10px;
}


/* create_game.html END */
