/* show_game.html START */
.game-content { /* This class gives the div a maximum width and centers horizontally it on the page. */
    max-width: 800px;
    height: auto;
    margin: 0 auto;
}

.game-head-wrapper {
    border-bottom: solid thin lightblue;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto; /* Keeps floating children divs inside this container. Otherwise they float beneath it. */
    height: 100%; /* Needed for IE, so children divs stay inside container. */
}

.game-head-title {
    float: left;
    font-weight: bold;
}

.game-head-host {
    float: right;
}

.game-info {
    float: left;
    width: 200px;
    height: 150px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-right: 10px;
    border-right: solid thin lightblue;
}

.game-address {
    float: left;
    width: 150px;
    height: 150px;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.game-map {
    float: right;
    margin-bottom: 10px;
    padding-left: 10px;
}

.game-players-wrapper {
    padding-top: 10px;
    clear: both;
    border-top: solid thin lightblue;
}

.game-player-table {
    width: 100%;
    border-collapse:collapse;
}

.game-player-table th {
    text-align: left;
    background-color: #4CAF50;
    font-weight: normal;
    color: white;
    font-style: normal;
    height: 22px;
    border: 0px;
}

.game-player-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.game-player-table tr:hover {
    background-color: #ddd;
}

.span-free-slots {
    float: right;
    font-size: 12px;
}

.game-player-static {
    margin-top: 30px;
    float: left;
}

.game-player-buttons button {
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    border: 1px solid #e7e7e7;
}

.game-player-buttons button:hover, .hoverBtn:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}


#joinBtn {
    background-color: #4CAF50;
}
#leaveBtn, #deleteBtn {
    background-color: #f24438;
}
#removeBtn {
    margin:0px;
    padding:0px;
    width: 20px;
    height: 20px;
    border:0;
    background:transparent.
}
/* show_game.html END */




/* login.html START */
#login_form label.error {
    font-size: 11px;
    font-style: normal;
    color: red;
    padding-left: 10px;
}
/* login.html END */




/* create_game.html START */
.content-wrapper-center { /* This class gives the div a maximum width and centers horizontally it on the page. */
    max-width: 500px;
    height: auto;
    margin: 0 auto;
}

.jquery_validation_form label.error, td.django-form-errors {
    font-size: 11px;
    font-style: normal;
    color: red;
    padding-left: 10px;
}

input#create-game {
    margin-top: 15px;
    margin-left: 90px;
    width: 100px;
    height: 25px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background-color: #4CAF50;
    border: 1px solid #e7e7e7;
}

input#create-game:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}
/* create_game.html END */
