/* show_game.html START */
.game-head-wrapper {
    border-bottom: solid thin lightblue;
    clear: both;
    padding-bottom: 10px;
    margin-bottom: 10px;
    overflow: auto; /* Keeps floating children divs inside this container. Otherwise they float beneath it. */
    height: 100%; /* Needed for IE, so children divs stay inside container. */
}

.game-head-title {
    float: left;
}

.game-head-host {
    float: right;
}

.game-info {
    float: left;
    width: 33%;
    line-height: 25px;
    margin-bottom: 10px;
    padding-right: 10px;
    border-right: solid thin lightblue;
}

.game-address {
    float: left;
    width: 33%;
    line-height: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px
    border-right: solid thin lightblue;
}

.game-map {
    float: left;
    margin-bottom: 10px;
    padding-left: 10px;
    border-left: solid thin lightblue;
}

.game-player-list {
    clear: both;
    border: solid thin lightblue;
}
/* show_game.html END */


/* login.html START */
#login_form label.error {
    font-size: 11px;
    font-style: normal;
    color: red;
    padding-left: 10px;
}

/* login.html END */

/* create_game.html START */
.jquery_validation_form label.error {
    font-size: 11px;
    font-style: normal;
    color: red;
    padding-left: 10px;
}

/* create_game.html END */
