{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Us
{% endblock %}

{% block body_block %}
<div class="row border-bottom pb-2">
    <div class="col-9 game-header-info">
        
        

    </div>
    <div class="col-3">
       

    </div>
</div>
<div class="row border-bottom mt-3 pb-3">
    <div class="col-4">
        <h3>Contact Information</h3>
        <strong>Gordon Daffurn: </strong><br />0801676d@student.gla.ac.uk<br />
        <strong>Hangil Ko: </strong><br />2286274k@student.gla.ac.uk<br />
        <strong>Nicola Mössner: </strong><br />2268685m@student.gla.ac.uk

    </div>
    <div class="col-4 border-left">
        <h3>Address: </h3>
        We can also be contacted through the School of Computing Science.<br /><br />
        <strong>Sir Alwyn Williams Building<br />
        Glasgow<br />
        G12 8QN</strong>        
    </div>
    <div class="col-2 game-map ">
        <div id="about-map-display" data-latitude="{{ latitude }}" data-longitude="{{ longitude }}" style="width: 300px; height: 150px;">
            <div id="about-map" >
            </div>
        </div>
    </div>
</div>




    <script>
        var map
        function initMap() {
            var mapDisplay = document.getElementById("about-map-display");

            var latitude = mapDisplay.getAttribute("data-latitude");
            var longitude = mapDisplay.getAttribute("data-longitude");
            var thisLatLng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};

            var mapOptions = {
                center: thisLatLng,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            map = new google.maps.Map(mapDisplay, mapOptions);

            var marker = new google.maps.Marker({
              position: thisLatLng,
              map: map,
            });
        }

    </script>
    <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUX2r2xDl7hy2QUQOyzS7ACOPLUqWWEDw&callback=initMap"
        async defer>
    </script>

{% endblock %}
