<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset = "UTF-8" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/individual_styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}">

        {% block js_block %}
        {% endblock %}
        <title>
            Football Fives Finder |
            {% block title_block %}
                Join or create five-a-side Games!
            {% endblock %}
        </title>
    </head>
    <body>
        <div id="header-wrapper">
			<div id="header-content">
				<div id="main-menu">
					<ul class="main-menu-ul">
						<li class="main-menu-li"><a class="main-menu-a" href="{% url 'index' %}">Home</a></li>
						<li class="main-menu-li"><a class="main-menu-a" href="{% url 'game_list' %}">Game List</a></li>
						{% if user.is_authenticated %}
							<li class="main-menu-li"><a class="main-menu-a" href="{% url 'create_game' %}">Create Game</a></li>
						{% endif %}
						<li class="main-menu-li"><a class="main-menu-a" href="{% url 'about_us' %}">About us</a></li>
					</ul>
				</div>
				<div id="login-account">
					{% if user.is_authenticated %}
                        <a class="account-a" href="{% url 'user_account' user.username %}">{{ user.username }}</a>&nbsp;|&nbsp;<a class="account-a" href="{% url 'logout' %}?next=/fives/">Logout</a>
					{% else %}
                        <a class="account-a" href="{% url 'login' %}">Login</a>&nbsp;|&nbsp;<a class="account-a" href="{% url 'sign_up' %}">Sign up</a>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="body-wrapper">
			<div id="body-content">
				{% block body_block %}
				{% endblock %}
			</div>
		</div>
		<div id="footer">
			<div id="footer-content">
				Gordon Daffurn&nbsp;&nbsp;|&nbsp;&nbsp;Hangil Ko&nbsp;&nbsp;|&nbsp;&nbsp;Nicola Mössner
				<br />
				Football Fives Finder &copy; 2018
			</div>
		</div>

        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.validate.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

    </body>
</html>
