{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block js_block %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#game_form").validate({
                rules: {
                    date: {},
                    start_time: {required: true},
                    street: {required: true, maxlength: 128},
                    place: {required: true, maxlength: 128},
                    postcode: {required: true, minlength: 5, maxlength: 8},
                    price: {required: true, range: [0, 99]},
                    booked: {required: false},
                }
            });

            $("#id_date").datepicker({
                minDate: 0, // Can't select dates in the past.
                maxDate: 30, // Can only select dates within 30 days from today.
                dateFormat: "mm/dd/yy",
            });
            $('#id_date').datepicker('setDate', new Date()); // .datepicker('setDate', date) sets the current date for the datepicker.

            time_choices: ["8:30", "9:30", "10:30", "11:30", "12:30"]

            $("#id_start_time").time_picker({});

            $("#id_start_time").innerhtml(time_choices);

        });
    </script>
{% endblock %}

{% block title_block %}
    Create Game
{% endblock %}

{% block body_block %}

    <h1>Create a New Game</h1>
    <p>Hosted by: {{ user.username }}</p>
    <form id="game_form" class="jquery_validation_form" method="post" action="{% url 'create_game' %}">

    {% csrf_token %}

    <!-- Display each form -->
    {{ game_form.as_p }}

    <!-- Provide a button to click to submit form -->
    <input type="submit" name="submit" value="Create Game" />
    </form>
    <p>
        Please note that as users are joining a game with the details you supply here, the details cannot be changed after submission.<br />
        Delete the game and create a new one if circumstances change. Thank you for understanding.
    </p>

{% endblock %}
