{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block js_block %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#match_form").validate({
                rules: {
                    date: {date: true},
                    start_time: {required: true},
                    street: {required: true, maxlength: 128},
                    place: {required: true, maxlength: 128},
                    postcode: {required: true, minlength: 5, maxlength: 8},
                    price: {required: true, range: [0, 20]},
                    booked: {required: false},
                }
            });

            $("#id_date").datepicker({
                showButtonPanel: true, // Display button "Today" and "Done".
                minDate: 0, // Can't select dates in the past.
                maxDate: 60, // Can only select dates within 60 days from today.
                dateFormat: "dd/mm/yy",
            });
            $('#id_date').datepicker('setDate', new Date()); // .datepicker('setDate', date) sets the current date for the datepicker.

            // $("#id_street").timepicker({});
        });
    </script>
{% endblock %}

{% block title_block %}
    Create Match
{% endblock %}

{% block body_block %}

    <h1>Create a New Match</h1>
    <form id="match_form" class="jquery_validation_form" method="post" action="{% url 'create_match' %}">

    {% csrf_token %}

    <!-- Display each form -->
    {{ game_form.as_p }}

    <!-- Provide a button to click to submit form -->
    <input type="submit" name="submit" value="Create Match" />
    </form>

{% endblock %}
