{% extends 'fives/base.html' %}
{% load staticfiles %}
{% load fives_filters %}

{% block js_block %}
{% endblock %}

{% block title_block %}
    Create Game
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="col">
    </div>
    <div class="col-5">
        <h5>{{ user.first_name }}, create your own game...</h5>
        {% if conflictingGames %}
        <span class="error">You already have a game scheduled during this time:
            {% for game in conflictingGames %}
                <a class="btn btn-lg btn-outline-danger custom-button-confl" href="{% url 'show_game' game.custom_slug %}">
                    View Game ({{ game.start|date:"H:i" }}-{{ game.end|date:"H:i" }})
                </a>
            {% endfor %}
        </span><br />
        {% endif %}
        <span class="error">{{ conflictMessage }}</span>
        <br />
        <form class="jquery_validation_form" id="game_form" method="post" action="{% url 'create_game' %}">

            {% csrf_token %}
            {% for field in game_form %}
            <div class="form-group row">
                <label for="{{ field.label }}" class="col-5 col-form-label">{{ field.label }}</label>
                <div class="col-7">
                    {{ field|addCss:"form-control" }}
                </div>
                <label for="{{ field.errors }}">{{ field.errors }}</label>
            </div>
            {% endfor %}
            <input class="btn btn-lg btn-primary btn-block" id="create-game" type="submit" name="submit" value="Create Game" />
        </form>

        <p style="font-size:11px; margin-top:40px; text-align:center;">
            Please note that as users are joining a game with the details you supply here, the details cannot be changed after submission.<br />
            Delete the game and create a new one if circumstances change.<br/>Thank you for understanding.
        </p>
    </div>
    <div class="col">
    </div>
</div>
{% endblock %}
