{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block js_block %}
    <script>
        $(document).ready(function() {
            $( ".datepicker" ).datepicker();
        });
    </script>
{% endblock %}

{% block title_block %}
    Create Match
{% endblock %}

{% block body_block %}

    <h1>Create a New Match</h1>
     <!-- {% if user.is_authenticated %} -->
    <form id="game_form" method="post" action="{% url 'create_match' %}"
          enctype="multipart/form-data">

    {% csrf_token %}

    <!-- Display each form -->
    {{ game_form.as_p }}

    <!-- Provide a button to click to submit form -->
    <input type="submit" name="submit" value="Create Match" />
    </form>




    <!-- Else should be unnecessary since authentication is required in views.py 
    {% else %}
        <form id="create_match_form" method="post" action="{% url 'create_match' %}">
            {% csrf_token %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
           	{% endfor %}
            {% for field in form.visible_fields %}
                <p>
                    {{ field.label }}
                    {{ field }}&nbsp;{{ field.errors }}
                </p>
			{% endfor %}

            <hr />
            <!-- NOTE: I might implement this by listing each field separate, to use client side validation. 
            <p>
                <label for="{{ form.game_type.label }}">{{ form.game_type.label }}</label>
                <input id="form.game_type.label" type="text" name="form.game_type.label" value=""/>
            </p>


            <input type="submit" name="submit" value="Create Match" />
        </form>


        Sign up or Login to create your own match!
    {% endif %} -->

{% endblock %}
