{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Game List
{% endblock %}

{% block body_block %}
    <div>

    </div>
    <div>
    {% if games %}
    <ul>
        {% for game in games %}
            <li>
                <a href="{% url 'show_game' game.custom_slug %}">{{ game.custom_slug }}</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>No games match the above criteria.</p>
        {% if user.is_authenticated %}
            <p>
                Please refine your search, or <a href="{% url 'create_game' %}">create your own game</a>.
            </p>            
        {% else %}
            <p>
                Please refine your search, or <a href="{% url 'sign_up' %}">sign up</a> to create your own game.
            </p>
        {% endif %}        
    {% endif %}
    </div>
{% endblock %}
