{% load staticfiles %}
{% load fives_filters %}


<div>
    {% if games %}
        <div class="game-players-wrapper">
            {% include 'fives/incl/game_table.html' with title=""  gameList=games ratingCol=False %}
        </div>
    {% else %}
        <p>No games match the search criteria.</p>
        {% if user.is_authenticated %}
            <p>
                Please refine your search, or <a class="btn btn-outline-primary btn-sm" href="{% url 'create_game' %}">create</a> your own game.
            </p>
        {% else %}
            <p>
                Please refine your search, or <a class="btn btn-outline-primary btn-sm" href="{% url 'sign_up' %}">sign up</a> to create your own game.
            </p>
        {% endif %}
    {% endif %}
</div>
