{% extends 'fives/user_account.html' %}
{% load staticfiles %}
{% load fives_filters %}

{% block title_block %}
    {{ player.user.first_name }} ({{ player.user.username }})
{% endblock %}

{% block account_block %}
<div class="player-tables-wrapper border-top pt-3">
        {% include 'fives/incl/game_table.html' with title="History"  gameList=fullHistory ratingCol=True %}

        <button class="btn btn-outline-success btn-sm" type="button" id="account-redirect" data-url="{% url 'user_account' player %}">
            Return
        </button>
</div>
{% endblock %}
