{% extends 'fives/base.html' %}
{% load staticfiles %}
{% load fives_filters %}
<!--
     Template for the home page.
-->

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
<div class="index-content">

    <div class="index-header-centered">
        <h3>FOOTBALL FIVES FINDER</h3>
        {% if user.is_authenticated %}
        <h5>Welcome {{ user.username }}!</h5>
        {% endif %}
    </div>
    {% if user.is_authenticated and upcomingUserGames %}
    <div class="index-UpcomingUserGames">
        <span>You are playing within the next 24 hours:</span><br />
        {% for game in upcomingUserGames %}
            <a class="btn btn-lg btn-outline-primary custom-button-upUsGames" href="{% url 'show_game' game.custom_slug %}">
                {{ game.city }},&nbsp;{{ game.start|date:"d M" }},&nbsp;{{ game.start|date:"H:i" }}-{{ game.end|date:"H:i" }}
            </a>
        {% endfor %}
    </div>
    {% endif %}
    <div class="index-intro-info border-top pt-3 mt-3 border-bottom pb-3 mb-3">
        <p>
            Football Fives Finder is a web application used for organizing games of 5-a-side football.&nbsp;<span id="span-more-dots">[...]</span>
        </p>
        <div id="more-less">
            <p>
                Check out a small selection of games below, or click the view more button to traverse the full list of available games. If no games satisfy your needs, then you can also <a href="{% url 'create_game' %}">host your own game</a> (for details, check out the <a href="{% url 'about_us' %}">about us</a> page).<br />
            </p>
            <p>
                After the game is over, check out your
                {% if user.is_authenticated %}
                    <a href="{% url 'history' user.player %}">game history</a>
                {% else %}
                    game history
                {% endif %}
                    to rate the other game's participants.
            </p>
            <p>
                Let the games begin!
            </p>
        </div>
        <button id="btn-more-less" class="btn btn-sm btn-outline-dark m-0">Show More</button>
    </div>
    {% if games %}
        {% include 'fives/incl/game_table.html' with title="Upcoming Games"  gameList=games ratingCol=False %}
        <div class="container text-right">
            <button class="btn btn-outline-success btn-sm" type="button" id="redirect" data-url="{% url 'game_list' %}">
                View more
            </button>
        </div>
    {% else %}
    <div>
        <p>There are no scheduled matches.</p>
        {% if user.is_authenticated %}
            <p>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'create_game' %}">Create your own game</a>.
            </p>
        {% else %}
            <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'login' %}">
                Login
            </a>
            or
            <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'sign_up' %}">
                Sign up
            </a>
        {% endif %}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="index-host-info">
            <h6>Hosting Information</h6>
            We at Football Fives Finder would like to help you find the match you desire - whether it be a friendly or competitive fixture, or confined to men's only, women's only or a game of mixed competitors.</p>
            <p>However, we cannot verify the credentials of individual users. If players join a game who do not match your given criteria, it is your responsibility to remove them from the game. If you have booked a game and fail to attract the desired number of players, it is also your responsbility to cover the lost funds for renting the pitch.
            </p>
            <p>Thank you for understanding.</p>
        </div>
    {% else %}
        <br />
        Login to participate:
        <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'login' %}">
            Login
        </a>
        or sign up today
        <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'sign_up' %}">
            Sign up
        </a>
    {% endif %}
</div>
{% endblock %}
