{% extends 'fives/base.html' %}
{% load staticfiles %}
{% load fives_filters %}

{% block title_block %}
    Index
{% endblock %}

{% block body_block %}
<div class="index-content">

    <div class="index-header-centered">
        <h3>FOOTBALL FIVES FINDER</h3>
        {% if user.is_authenticated %}
        <h5>Welcome {{ user.username }}!</h5>
        {% endif %}
    </div>

    <h6>Upcoming Games</h6>

    {% if games %}
    <div class="game-players-wrapper">
        <table class="table table-striped game-player-table table-hover">
            <tr class="bg-success text-white">
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>Spaces</th>
                <th>Type</th>
                <th>Price (&#163;)</th>
                <th>Host</th>
                <th>Host Rating</th>
            </tr>
        {% for game in games %}
            <tr class="game-player-link" data-url="{% url 'show_game' game.custom_slug %}" >
                <td>{{ game.city }}</td>
                <td>{{ game.start|date:"d M Y" }}</td>
                <td>{{ game.start|date:"H:i" }}</td>
                <td>{{ game.free_slots }}</td>
                <td>{{ game.game_type|getType }}</td>
                <td>{{ game.price }}</td>
                <td>{{ game.host.username }}</td>

                <td>
                {% for i in game.host.player|ratingAsRange:"host" %}
                    <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
        <div class="container text-right">
            <button class="btn btn-outline-success btn-sm" type="button" id="redirect" data-url="{% url 'game_list' %}">
                View more
            </button>
        </div>
    </div>

    {% else %}
    <div>
        <p>No games match the above criteria.</p>
        {% if user.is_authenticated %}
            <p>
                <a class="btn btn-outline-primary btn-sm" href="{% url 'create_game' %}">Create your own game</a>.
            </p>
        {% else %}
            <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'login' %}">
                Login
            </a>
            or
            <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'sign_up' %}">
                Sign up
            </a>
        {% endif %}
    </div>
    {% endif %}

    {% if user.is_authenticated %}
        <div class="index-host-info">
            <h6>Hosting Information</h6>
            We at Football Fives Finder would like to help you find the match you desire - whether it be a friendly or competitive fixture, or confined to men's only, women's only or a game of mixed competitors.</p>
            <p>However, we cannot verify the credentials of individual users. If players join a game who do not match your given criteria, it is your responsibility to remove them from the game. If you have booked a game and fail to attract the desired number of players, it is also your responsbility to cover the lost funds for renting the pitch.
            </p>
            <p>Thank you for understanding.</p>
        </div>
    {% else %}
        <br />
        Login to participate:
        <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'login' %}">
            Login
        </a>
        or sign up today
        <a class="btn btn-outline-primary btn-sm" id="redirect" href="{% url 'sign_up' %}">
            Sign up
        </a>
    {% endif %}
</div>
{% endblock %}
