{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block js_block %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#login_form").validate({
                rules: {
                    username: { // Must match the name attribute of the input field.
                        required: true,
                        minlength: 4
                    },
                    password: "required"
                },
                messages: {
                    username: {
                        required: "Please enter your username",
                        minlength: "Must be at least 4 characters long"
                    },
                    password: "Please enter your password"
                }
            });
        });
    </script>
{% endblock %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
<div class="content-wrapper-center">
    <strong>Login to Football Fives Finder</strong><br />

    {% if user.is_authenticated %}
        <p>You are already logged in. Click below to return to the homepage.</p>
        <a href="{% url 'index' %}">Home</a>
    {% else %}
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <p>
                <label for="username">Username</label>
                <input id="username" type="text" name="username" value=""/>
            </p>
            <p>
                <label for="password">Password</label>
                <input id="password" type="password" name="password" value=""/>
            </p>

            <input type="submit" value="submit" />

        </form>
    {% endif %}
</div>
{% endblock %}
