{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ game.custom_slug }}
{% endblock %}

{% block body_block %}
{% if game %}
    <div class="game-head-wrapper">
        <div class="game-head-title">
            {{ game.host.username }}, {{ game.date }}, {{ game.start_time }}
        </div>
        <div class="game-head-host">
            Host: {{ game.host.username }}
        </div>
    </div>
    <div class="game-info">
        Date: {{ game.date }}<br />
        Time: {{ game.start_time }}<br />
        Pitch:
        {% if game.booked %}
            <span style="color:Green">Booked</span><br />
            {% else %}
            <span style="color:Red">Not Booked</span><br />
            {% endif %}
            Price/person: {{ game.price }}
        </div>
        <div class="game-address">
            Address:<br />
            {{ game.street }}<br />
            {{ game.city }}<br />
            {{ game.postcode }}
        </div>
        <div class="game-map">
            Google Maps
        </div>
        <div class="game-player-list">
            {% for player in participants %}

            {% endfor %}
        </div>
        <div class="">
            {% if user.is_authenticated %}
                {% if user == game.host %}
                    <input type="submit" name="submit" value="Edit Game" />
                    <input type="submit" name="submit" value="Delete Game" />
                {% else %}
                    {% if user in participants %}
                        <input type="submit" name="submit" value="Leave Game" />
                    {% else %}
                        <input type="submit" name="submit" value="Join Game" />
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
{% else %}
    The specified game does not exist!
{% endif %}
{% endblock %}
