{% extends 'fives/base.html' %}
{% load staticfiles %}
{% load fives_filters %}

{% block title_block %}
    {{ game.custom_slug }}
{% endblock %}

{% block body_block %}
{% if game %} <!-- The game exists -->
    <div class="row border-bottom pb-2">
        <div class="col-9 game-header-info">
            {{ game.host.first_name }}&nbsp;{{ game.host.last_name }}&nbsp;-&nbsp;{{ game.start|date:"d N Y" }}&nbsp;-&nbsp;{{ game.start|date:"H:i" }}
        </div>
        <div class="col-3">
            <span title="">{{ game.host.username }}</span>
            {% for i in game.host.player|ratingAsRange:"host" %}
                <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
            {% endfor %}
        </div>
    </div>
<div class="row border-bottom mt-3 pb-3">
    <div class="col-4">
        <table class="game-info-table">
            <tr>
                <td><img src="{% static 'img/dateIcon.png' %}" alt="date icon" height="20"></td>
                <td class="pl-2">{{ game.start|date:"d M Y" }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/timeIcon.png' %}" alt="time icon" height="20"></td>
                <td class="pl-2">{{ game.start|date:"H:i" }} - {{ game.end|date:"H:i" }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/pitchIcon.png' %}" alt="pitch icon" height="20"></td>
                <td class="pl-2">
                    <div class="game-pitch-booked">
                        {% if game.booked %}
                            <span style="color:Green">Booked</span>
                        {% else %}
                            <span style="color:Red">Not Booked</span>
                        {% endif %}
                        {% if user == game.host and not gameTookPlace %}
                            <button class="btn btn-outline-warning btn-sm custom-button-booked" type="button" id="editBooking"
                                    data-gameid="{{ game.game_id }}" data-csrf_token="{{ csrf_token }}" >
                                    change
                            </button>
                        {% endif %}
                    </div>
                </td>
            </tr>
            <tr>
                <td><img src="{% static 'img/priceIcon.png' %}" alt="price icon" height="20"></td>
                <td class="pl-2">&#163;{{ game.price }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/typeIcon.png' %}" alt="type icon" height="20"></td>
                <td class="pl-2">{{ game.game_type|getType }}</td>
            </tr>
        </table>
    </div>
    <div class="col-4 border-left">
        <table>
            <tr>
                <td><img src="{% static 'img/streetIcon.png' %}" alt="street icon" height="20"></td>
                <td class="pl-2">{{ game.street }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/cityIcon.png' %}" alt="city icon" height="20"></td>
                <td class="pl-2">{{ game.city }}</td>
            </tr>
            <tr>
                <td><img src="{% static 'img/postcodeIcon.png' %}" alt="postcode icon" height="20"></td>
                <td class="pl-2">{{ game.postcode }}</td>
            </tr>
        </table>
    </div>
    <div class="col-2 game-map ">
        <div id="map-display" data-latitude="{{ game.latitude }}" data-longitude="{{ game.longitude }}" style="width: 300px; height: 170px;">
            <div id="map" >
            </div>
        </div>
    </div>
</div>
{% block show_or_rate_block %}
<div class="row pt-3">
    <div class="col">
    <div class="game-players-wrapper">
        <table class="table table-striped game-player-table table-hover">
            <tr class="bg-success text-white">
                <th>Name</th>
                <th>Surame</th>
                <th>Gender</th>
                <th>Skills</th>
                <th>Likes</th>
                <th>Punctuality</th>
                {% if user == game.host%}
                    <th></th>
                {% endif %}
            </tr>
        {% for player in participants %}
            <tr>
                <td class="game-player-link" data-url="{% url 'user_account' player.user.username %}" >{{ player.user.first_name }}</td>
                <td class="game-player-link" data-url="{% url 'user_account' player.user.username %}" >{{ player.user.last_name }}</td>
                <td>
                    {% if player.gender %}
                        <img src="{% static 'img/male.png' %}" alt="male" height="12" title="male">
                    {% else %}
                        <img src="{% static 'img/female.png' %}" alt="female" height="14" title="female">
                    {% endif %}
                </td>
                <td>
                    {% for i in player|ratingAsRange:"skill" %}
                        <img src="{% static 'img/skill.png' %}" alt="skill rating" height="15" width="15">
                    {% endfor %}
                </td>
                <td>
                    {% for i in player|ratingAsRange:"likeability" %}
                        <img src="{% static 'img/likes.png' %}" alt="likeability rating" height="15" width="15">
                    {% endfor %}
                </td>
                <td>
                    {% for i in player|ratingAsRange:"punctuality" %}
                        <img src="{% static 'img/punctuality.png' %}" alt="puntuality rating" height="15" width="15">
                    {% endfor %}
                </td>

                {% if user == game.host %}
                <td class="text-right">
                    {% if user != player.user %}
                        <button class="btn btn-outline-danger btn-sm custom-button-remove" type="button" id="removeBtn" class="hoverBtn" data-gameid="{{ game.game_id }}"
                        data-username="{{ player.user.username }}" data-csrf_token="{{ csrf_token }}" title="remove player">
                            Remove
                        </button>
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </table>
        <div class="container text-right">
            <span class="span-free-slots">Free spaces: <strong>{{ game.free_slots }}</strong></span>
        </div>
    </div>
    </div>
</div>
<div class="row">
    <div class="game-player-static">
        <div class="game-player-buttons">
        {% if gameTookPlace %} <!-- The current game lies in the past and took place(all slots were filled). -->

        {% else %} <!-- The current game lies in the future. -->
            {% if user.is_authenticated %}
                {% if user == game.host %}
                    <button class="btn btn-danger btn-sm" type="button" id="deleteBtn" data-gameid="{{ game.game_id }}"
                    data-username="{{ user.username }}" data-csrf_token="{{ csrf_token }}" >
                        Delete Game
                    </button>
                {% else %}
                    {% if user in users %}
                        <button class="btn btn-danger btn-sm" type="button" id="leaveBtn" data-gameid="{{ game.game_id }}"
                        data-username="{{ user.username }}" data-csrf_token="{{ csrf_token }}" >
                            Leave Game
                        </button>
                    {% else %}
                        {% if conflictingGames %}
                            <button class="btn btn-success btn-sm" type="button" disabled>Join Game</button><br />
                            <span class="error">You already have a game scheduled during this time:
                                {% for game in conflictingGames %}
                                    <a class="btn btn-lg btn-outline-danger custom-button-confl" href="{% url 'show_game' game.custom_slug %}">
                                        View Game ({{ game.start|date:"H:i" }}-{{ game.end|date:"H:i" }})
                                    </a>
                                {% endfor %}
                            </span>
                        {% else %}
                            <button class="btn btn-success btn-sm" type="button" id="joinBtn" data-gameid="{{ game.game_id }}"
                            data-username="{{ user.username }}" data-csrf_token="{{ csrf_token }}" >
                                Join Game
                            </button>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
        </div>
    </div>
{% endblock %}
</div>
{% else %}
    The specified game does not exist!
{% endif %}

<!-- Move the following to main.js -->

<script>
    var map
    function initMap() {
        var mapDisplay = document.getElementById("map-display");

        var latitude = mapDisplay.getAttribute("data-latitude");
        var longitude = mapDisplay.getAttribute("data-longitude");
        var thisLatLng = {lat: parseFloat(latitude), lng: parseFloat(longitude)};

        var mapOptions = {
            center: thisLatLng,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(mapDisplay, mapOptions);

        var marker = new google.maps.Marker({
          position: thisLatLng,
          map: map,
        });
    }

</script>
<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUX2r2xDl7hy2QUQOyzS7ACOPLUqWWEDw&callback=initMap"
    async defer>
</script>


{% endblock %}
