{% extends 'fives/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {{ game.custom_slug }}
{% endblock %}

{% block body_block %}
{% if game %}
    <div class="game-head-wrapper">
        <div class="game-head-title">
            {{ game.host.first_name }}, {{ game.date }}, {{ game.start_time }}
        </div>
        <div class="game-head-host">
            Host: {{ game.host.username }}
        </div>
    </div>
    <div class="game-info">
        Date: {{ game.date }}<br />
        Time: {{ game.start_time }}<br />
        Pitch:
        {% if game.booked %}
            <span style="color:Green">Booked</span><br />
            {% else %}
            <span style="color:Red">Not Booked</span><br />
            {% endif %}
            Price/person: {{ game.price }}
    </div>
    <div class="game-address">
        Address:<br />
        {{ game.street }}<br />
        {{ game.city }}<br />
        {{ game.postcode }}
    </div>
    <div class="game-map">
        Google Maps
    </div>
    <div class="game-player-list">
        Free spaces: <strong>{{ game.free_slots }}</strong>
        <ul>
        {% for player in participants %}
            <li>
                {{ player.user.first_name }}
                {{ player.user.last_name }}, 
                Skill: {{ player.skill }} 
                Teamplay: {{ player.likeability }} 
                Punctuality: {{ player.reliability }} 
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="game-player-static">
        <div class="game-player-buttons">
            {% if user.is_authenticated %}
                {% if user == game.host %}
                    <input type="submit" name="submit" value="Edit Game" />
                    <input type="submit" name="submit" value="Delete Game" />
                {% else %}
                    {% if user in users %}
                        <button type="button" id="leaveBtn" data-gameid="{{ game.game_id }}" 
                        data-username="{{ user.username }}" >
                            Leave Game
                        </button>
                    {% else %}
                        <button type="button" id="joinBtn" data-gameid="{{ game.game_id }}" 
                        data-username="{{ user.username }}" >
                            Join Game
                        </button>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% else %}
    The specified game does not exist!
{% endif %}
{% endblock %}
