{% extends 'fives/show_game.html' %}
{% load staticfiles %}
{% load fives_filters %}

{% block title_block %}
    {{ game.custom_slug }}
{% endblock %}

{% block show_or_rate_block %}
{% if gameTookPlace %}
    {% if user in users %}
        <div class="game-players-wrapper pt-3">
            <!-- Check if game was already rated, if the current user is on his own account page, and if there was more than just the host participating in the game. -->
            {% if not participation.rated and user.username == player and game.free_slots != 9 %}
            <form id="rating_form" method="post" action="{% url 'show_past_game' user.username game.custom_slug %}">
            {% csrf_token %}
            <table class="table table-striped game-player-table table-hover account-game-table">
                <tr class="bg-success text-white">
                    <th>Name</th>
                    <th>Surame</th>
                    <th>Gender</th>
                    <th>Skills</th>
                    <th>Likeability</th>
                    <th>Punctuality</th>
                </tr>
                {{ rating_formset.management_form }}
                {% for rating_form in rating_formset %}
                    <tr style="height:30px;">
                        <td>{{ playersToBeRated|getName:forloop.counter0 }}</td>
                        <td>{{ playersToBeRated|getSurname:forloop.counter0 }}</td>
                        <td>
                            {% if playersToBeRated|getGender:forloop.counter0 %}
                                <img src="{% static 'img/male.png' %}" alt="male" height="12" title="male">
                            {% else %}
                                <img src="{% static 'img/female.png' %}" alt="female" height="14" title="female">
                            {% endif %}
                        </td>
                        <td>{{ rating_form.skill }}</td>
                        <td>{{ rating_form.likeability }}</td>
                        <td>{{ rating_form.punctuality }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br />
            {% if user != game.host %}
                Please rate {{ game.host.first_name }}'s hosting abilities: {{ host_form.host_rating }}<br /><br />
            {% endif %}
            <input class="btn btn-primary btn-sm" id="rate-players" type="submit" name="submit" value="Rate Players" />
            </form>
            {% else %} <!-- Already rated, show normal game view. -->
                {% include 'fives/incl/player_table.html' %}
            {% endif %}
        </div>
    {% else %}
        You didn't participate in this game.
    {% endif %}
{% else %}
    The game has not taken place yet! Try to find it in the <a href="{% url 'game_list' %}">Game List</a>.
{% endif %}
{% endblock %}
