{% extends 'fives/base.html' %}
{% load staticfiles %}
{% load fives_filters %}
<!--
     Template to show a users account details, ratings, and game involvments.
-->

{% block title_block %}
    {{ player.user.first_name }} ({{ player.user.username }})
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
    <div class="row user-account-info pb-3 border-bottom">
        <div class="col-7">
            <h2>{{ player.user.first_name }} {{ player.user.last_name }}</h2>

            {% if player.user.email %}
                <strong><em>{{ player.user.email }}</em></strong><br />
            {% else %}
                <strong><em>No e-mail provided</em></strong><br />
            {% endif %}

            <ul>
                <li>Username: <strong>{{ player.user.username}}</strong></li>
                <li>
                    Gender:
                    {% if player.gender %}
                        <img src="{% static 'img/male.png' %}" alt="male" height="12" title="male">
                    {% else %}
                        <img src="{% static 'img/female.png' %}" alt="female" height="14" title="female">
                    {% endif %}
                </li>
            </ul>
            {% if user == player.user %}
                <a class="btn btn-outline-primary btn-sm custom-button-edit" href="{% url 'edit_account' player %}">
                    Edit Account
                </a>
                <a class="btn btn-outline-primary btn-sm custom-button-edit" href="{% url 'change_password' player %}">
                    Change Password
                </a>
            {% endif %}
        </div>
        <div class="col-4 border-left">
            <h2>Player Ratings</h2>
            <ul>
                <li><strong>Skills: </strong>
                    {% for i in player|ratingAsRange:"skill" %}
                        <img src="{% static 'img/skill.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
                <li><strong>Likes: </strong>
                    {% for i in player|ratingAsRange:"likeability" %}
                        <img src="{% static 'img/likes.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
                <li><strong>Punctuality: </strong>
                    {% for i in player|ratingAsRange:"punctuality" %}
                        <img src="{% static 'img/punctuality.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
                <li><strong>Hosting: </strong>
                    {% for i in player|ratingAsRange:"host" %}
                        <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
            </ul>

        </div>
    </div>
    {% block account_block %}
        <!-- Include tables to show games for the user. If accessing another user's profile, only show his hosting games. -->
        {% include 'fives/incl/game_table.html' with title="Hosting" gameList=hostingGames ratingCol=False withPager=True %}
        {% if user == player.user %}
            {% include 'fives/incl/game_table.html' with title="Joined" gameList=joinedGames ratingCol=False withPager=True %}
            {% include 'fives/incl/game_table.html' with title="History" gameList=pastGames ratingCol=True withPager=False %}
        {% endif %}

        {% if user == player.user %}
            <button class="btn btn-outline-success btn-sm mt-3" type="button" id="account-redirect" data-url="{% url 'history' player %}">
                View all past games
            </button>
        {% endif %}
    {% endblock %}
{% else %}
<div class="player-content-unauthorised">
    <p>
        You do not have permission to view this page. Please <a href="{% url 'login' %}">login</a>.<br /><br />
        If you do not have an account then <a href="{% url 'sign_up' %}">sign up</a> today.
    </p>
{% endif %}
</div>
{% endblock %}
