{% extends 'fives/base.html' %}
{% load staticfiles %}
{% load fives_filters %}

{% block title_block %}
    {{ player.user.first_name }} ({{ player.user.username }})
{% endblock %}

{% block body_block %}
{% if user.is_authenticated %}
    <div class="row user-account-info">
        <div class="col-7">
            <h2>{{ player.user.first_name }} {{ player.user.last_name }}</h2>

            {% if player.user.email %}
                <strong><em>{{ player.user.email }}</em></strong><br />
            {% else %}
                <strong><em>No e-mail provided</em></strong><br />
            {% endif %}

            <ul>
                <li>Username: <strong>{{ player.user.username}}</strong></li>
                <li>
                    Gender:
                    {% if player.gender %}
                        <img src="{% static 'img/male.png' %}" alt="male" height="12" title="male">
                    {% else %}
                        <img src="{% static 'img/female.png' %}" alt="female" height="14" title="female">
                    {% endif %}
                </li>
            </ul>

            {% if user == player.user %}
                <button class="btn btn-outline-primary btn-sm" type="button" id="editButton" data-user="{{ user }}">
                        Edit account
                </button>
            {% endif %}
        </div>
        <div class="col-4 border-left">
            <h2>Player Ratings</h2>
            <ul>
                <li><strong>Skills: </strong>
                    {% for i in player|ratingAsRange:"skill" %}
                        <img src="{% static 'img/skill.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
                <li><strong>Likes: </strong>
                    {% for i in player|ratingAsRange:"likeability" %}
                        <img src="{% static 'img/likes.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
                <li><strong>Punctuality: </strong>
                    {% for i in player|ratingAsRange:"punctuality" %}
                        <img src="{% static 'img/punctuality.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
                <li><strong>Hosting: </strong>
                    {% for i in player|ratingAsRange:"host" %}
                        <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
                    {% endfor %}
                </li>
            </ul>

        </div>
    </div>
    {% block account_block %}
    <h5>Joined</h5>
    {% include 'fives/game_table.html' with gameList=joinedGames %}

    <div class="player-tables-wrapper">
        <h5>Hosting</h5>
        <table class="table table-striped game-player-table table-hover">
            <tr class="bg-success text-white">
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>Spaces</th>
                <th>Type</th>
                <th>Price (&#163;)</th>
                <th>Host</th>
                <th>Host Rating</th>
            </tr>

        {% for game in hostingGames %}
            <tr class="game-player-link" data-url="{% url 'show_game' game.custom_slug %}" >
                <td>{{ game.city }}</td>
                <td>{{ game.start|date:"d M Y" }}</td>
                <td>{{ game.start|date:"H:i" }}</td>
                <td>{{ game.free_slots }}</td>
                <td>{{ game.game_type|getType  }}</td>
                <td>{{ game.price }}</td>
                <td>{{ game.host.username }}</td>

                <td>
                {% for i in game.host.player|ratingAsRange:"host" %}
                    <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
                {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </div>

    <div class="player-tables-wrapper">
        <h5>History</h5>
        <table class="table table-striped game-player-table table-hover">
            <tr class="bg-success text-white">
                <th>Location</th>
                <th>Date</th>
                <th>Time</th>
                <th>Spaces</th>
                <th>Type</th>
                <th>Price (&#163;)</th>
                <th>Host</th>
                <th>Host Rating</th>
                {% if user == player.user %}
                    <th>Rate</th>
                {% endif %}
            </tr>

        {% for game in pastGames %}
            <tr class="game-player-link" data-url="{% url 'show_past_game' user.username game.custom_slug %}" >
                <td>{{ game.city }}</td>
                <td>{{ game.start|date:"d M Y" }}</td>
                <td>{{ game.start|date:"H:i" }}</td>
                <td>{{ game.free_slots }}</td>
                <td>{{ game.game_type|getType }}</td>
                <td>{{ game.price }}</td>
                <td>{{ game.host.username }}</td>

                <td>
                {% for i in game.host.player|ratingAsRange:"host" %}
                    <img src="{% static 'img/star.png' %}" alt="host rating" height="13">
                {% endfor %}
                </td>

                {% if user == player.user %}
                <td>
                    {% if not game|isRated:user %}
                    <img src="{% static 'img/rate.png' %}" alt="rate now" title="Rate players" height="15">
                    {% endif %}
                </td>
                {% endif %}

            </tr>
        {% endfor %}
        </table>

        {% if user == player.user %}
            <button class="btn btn-outline-success btn-sm" type="button" id="account-redirect" data-url="{% url 'history' player %}">
                View all past matches
            </button>
        {% endif %}
    </div>
    {% endblock %}
{% else %}
<div class="player-content-unauthorised">
    <p>
        You do not have permission to view this page. Please <a href="{% url 'login' %}">login</a>.<br /><br />
        If you do not have an account then <a href="{% url 'sign_up' %}">sign up</a> today.
    </p>
{% endif %}
</div>
{% endblock %}
